<div class="container">
  <div class="head row d-flex justify-content-between align-items-end">

    <h2 class="total-amount col-6">
      <i class="fa-solid fa-sack-dollar fa-2xl"></i>
      <span class="font-number ms-3"> ￥12345{{totalAmount}} </span>
    </h2>

    <form class="col-6" action="/" method="POST">
      <div class="index-category font-text">
        <label class="form-label" for="keyword"></label>
        <select class="form-select" name="categories" id="categories" aria-label="multiple select" onchange="submit()">
          <option>類別</option>
          <option>家居物業</option>
          <option>交通出行</option>
          <option>休閒娛樂</option>
          <option>餐飲食品</option>
          <option>其他</option>
        </select>
      </div>
    </form>

  </div>


<table class="table text-center table-sm align-middle table-striped table-hover my-3">
  {{#each recordList}}
  <tr>
    <td class="icon-category">
    {{{ this.categoryId.icon }}}
    </td>
    <td>
      <div class="font-text index-name">{{ this.nameOfCost }}</div>
      <small class="font-number index-date">{{ this.date }}</small>
    </td>
    <td class="font-number">
      <div>{{this.amount}} 円</div>
      {{#if isPaidAlone }}
      {{else}}
      <div class="paidAlone">AA</div>
      {{/if}}
    </td>
    <td>
      <form action="/records/edit/{{this._id}}" method="GET">
        <button type="submit" class="index-edit btn btn-light-sm">
          <i class="fas fa-edit"></i></button>
      </form>
    </td>
    <td>
      <form action="/records/{{this._id}}?_method=DELETE" method="POST">
        <button type="submit" class="index-delete btn btn-light-sm" onclick="return confirmDelete();">
          <i class="far fa-trash-alt"></i>
        </button>
      </form>
    </td>
  </tr>
  {{/each}}
</table>
</div>

<script>
  function confirmDelete() {
    return confirm('你確定要刪除該筆紀錄嗎?')
  }
</script>